<!DOCTYPE html>
<html>
<head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=PT+Serif:400,700,400italic|Open+Sans:700,400" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{! ghost_head}}
    <link rel="canonical" href="http://progbites.com{{url}}"/>
    {{#if tag.slug}}
    <link rel="alternate" type="application/rss+xml" title="ProgBites tagged {{tag.slug}}" href="/tag/{{tag.slug}}/rss/"/>
    {{else}}
    <link rel="alternate" type="application/rss+xml" title="ProgBites" href="/rss/"/>
    {{/if}}

    {{#if pagination.prev}}
    <link rel="prev" href="/page/{{pagination.prev}}/" />
    {{/if}}
    {{#if pagination.next}}
    <link rel="next" href="/page/{{pagination.next}}/" />
    {{/if}}
</head>
<body class="{{body_class}}">

    {{! Everything else gets inserted here }}
    {{{body}}}

    <footer class="site-footer clearfix">
         <section class="copyright"><a href="http://progbites.com">{{@blog.title}}</a> &copy; {{date format="YYYY"}}</section>
         <section class="poweredby">ProgBites is written and curated by <a href="http://www.sudhirjonathan.com">Sudhir Jonathan</a></section>
    </footer>

    {{! Ghost outputs important scripts and data with this tag }}
    {{ghost_foot}}

    {{! The main JavaScript file for Casper }}
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>

</body>
</html>
